{% extends 'otherpages.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">

{{ include('parts/head.html.twig') }}


  <body class="customscrollbar">

  {{ include('parts/header.html.twig') }}


    <main>
      <section>
        <!--ICI MES CATEGORIES-->

        <div class="container shadow-lg rounded" data-aos="fade-right">
          <div class="row">
            <div class="col-lg-4 col-md-6 my-3">
              <div>
                <a href="boutique.html.twig" class="zoom">
                  <img
                    src="images/categ1.jpg"
                    alt="img_product"
                    class="img-fluid rounded mx-auto d-flex categorie"
                  />
                </a>
                <h4 class="text-center fw-bold my-3">Croquettes pour chat</h4>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 my-3">
              <div>
                <a href="#" class="zoom">
                  <img
                    src="images/categ2.jpg"
                    alt="img_product"
                    class="img-fluid rounded mx-auto d-flex categorie"
                  />
                </a>
                <h4 class="text-center fw-bold my-3">Pâtés et gelées</h4>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 my-3">
              <div>
                <a href="#" class="zoom">
                  <img
                    src="images/product_3.jpg"
                    alt="img_product"
                    class="img-fluid rounded mx-auto d-flex categorie"
                  />
                </a>
                <h4 class="text-center fw-bold my-3">Snacks et friandises</h4>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 my-3">
              <div>
                <a href="#" class="zoom">
                  <img
                    src="images/categ4.jpg"
                    alt="img_product"
                    class="img-fluid rounded mx-auto d-flex categorie"
                  />
                </a>
                <h4 class="text-center fw-bold my-3">
                  Alimentation vétérinaire
                </h4>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 my-3">
              <div>
                <a href="#" class="zoom">
                  <img
                    src="images/categ5.jpg"
                    alt="img_product"
                    class="img-fluid rounded mx-auto d-flex categorie"
                  />
                </a>
                <h4 class="text-center fw-bold my-3">
                  Alimentation sans céréales
                </h4>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 my-3">
              <div>
                <a href="#" class="zoom">
                  <img
                    src="images/categ6.jpg"
                    alt="img_product"
                    class="img-fluid rounded mx-auto d-flex categorie"
                  />
                </a>
                <h4 class="text-center fw-bold my-3">
                  Nos croquettes et pâtées BIO
                </h4>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>


  {{ include('parts/footer.html.twig') }}

  </body>
</html>
{% endblock %}
