<footer class="shadow-lg">
      <!-- ici Infosite -->
      <section class="bg-perso mt-5 px-5">
        <div class="container">
          <div class="row">
            <!-- align 12 colonnes -->
            <div class="col-lg-4 col-md-4 col-sm-12">
              <h3 class="text-center">Contacts</h3>
              <div>
                <ul>
                  <li>
                    Réseaux sociaux
                    <span>
                      <a href="https://twitter.com/?lang=fr"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                      <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram"></i></a>
                    </span>
                  </li>
                  <li>
                    <a href="https://g.page/compagnonanimal?share"
                      >Notre boutique à Nîmes</a
                    >
                  </li>
                  <li>
                    <a href="mailto:trululu@mail.com"
                      ><i class="far fa-envelope"></i>
                      NadegeVaBosser@anîmesalerie.fr</a
                    >
                  </li>
                  <li>
                    N° de téléphone:
                    <a href="tel:+33711223344">04 56 77 23 43</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 mb-5 col-sm-12">
              <h3 class="text-center">Informations</h3>
              <div>
                <ul>
                  <li><a href="{{ path('CGV')}}">CGV </a></li>
                  <li><a href="{{ path('mentionslegales')}}">Mentions légales</a></li>
                  <li>Foire aux Questions</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <h3 class="text-center">Mon compte</h3>
              <div>
                <ul>
                  <li>Données Personelles</li>
                  <li><a href="{{ path('login2') }}">Mes commandes</a></li>
                  <li>
                    Moyen de paiement
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-paypal"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <!--SCRIPT AOS A LANCER EN FIN DU CODE-->

    <script>
      AOS.init();
    </script>
<script rel=script" src="{{ asset('js/script.js') }}"></script>
